{#############################################################################}
{#Authour: Ben Haubrich                                                      #}
{#Date: January 6th, 2025                                                    #}
{#File: home.j2                                                              #}
{#Synopsis: Display the most useful and relevant information                 #}
{#############################################################################}
{% extends 'Inherit/layout.j2' %}
{% block title%}Home{% endblock %}
{% block content %}

<h1 Hello, World! </h1>

{% endblock %}
